html {
  background-color: lightgrey;
  font-family: 'Roboto', sans-serif;
}

pre {
  white-space: initial;
}

#resume {
  margin: 5% 15%;
  border: 1px solid grey;
  background-color: white !important;
  min-height: 400px;
  padding: 10px;
  border-radius: 2px;
}

.credits {
  font-size: 12px;
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

.row {
  width: 100%;
  line-height: 20px;
  height: 20px;
  clear: both;
  margin-bottom: 0.5%;
}

.row-cell-left {
  display: inline-block;
  width: 45%;
  float: left;
}

.row-cell-right {
  display: inline-block;
  width: 45%;
  float: right;
  clear: right;
}

.resume-header-info {
  width: 66%;
  display: inline-block;
  float: left;
}

.resume-profile-picture {
  display: inline-block;
  width: 33%;
  float: right;
}

.resume-header {
  font-size: 1.3em;
}

.resume-section {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  clear: both;
}

.resume-section-header {
  width: 100%;
  font-size: 1.2em;
  margin-bottom: 1%;
  border-bottom: 2px solid #7FFFD4;
}

.row-header {
  font-weight: bold;
}
