@import "~bootstrap/dist/css/bootstrap.css";

html {
  background-color: lightgrey;
  font-family: 'Roboto', sans-serif;
}

pre {
  white-space: initial;
}

sup {
  font-size: 75%;
  font-weight: normal;
  font-style: italic;
  top: 0.5em !important;
}

.italic {
  font-style: italic;
}

.url-row {
  padding-top: 5px;
  padding-left: 1%;
  min-height: 20px;
  border-left: 1px solid grey;

}

.some-icon {
  float: left;
  margin-right: 2%;
  font-size: 1.2em;
}

#resume {
  margin: 5% 15%;
  border: 1px solid grey;
  background-color: white !important;
  min-height: 400px;
  padding: 2%;
  border-radius: 5px;
}

.header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.credits {
  font-size: 12px;
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

.resume-header {
  font-size: 1.3em !important;
  padding-bottom: 8%;
}

.resume-owner {
  font-size: 1.2em !important;
}


.resume-heading-column, resume-heading-column > div {
  display: flex;
  flex-direction: column;
}

.resume-heading-column > div  {
  font-size: 0.9em;
}

.small-font {
  font-size: 0.8em;
}

.row {
  display: flex;
  flex-direction: row;
  line-height: 20px;
  clear: both;
  margin-bottom: 0.5%;
  padding-left: 2%;
}

.row-header {
  font-weight: bold;
}

.detail-row > div {
  padding-left: 0.5%
}

.resume-header-info > div {
  font-style: italic;
}

.resume-header-info > .row > .row-cell-left .row-cell-right {
  width: 50%;
}

.row-header > .row-cell {
  font-size: 1em;
}

.left-cell {
  width: 35%;
  float: left;
}

.left-cell-header {
  width: 35%;
  float: left;
}

.middle-cell-header {
  width: 35%;
  float: left;
}

.right-cell-header {
  width: 30%;
  float: right;
  clear: right;
}

.right-cell {
  width: 60%;
  float: right;
  clear: right;
}

.row-cell {
  display: flex;
  flex-direction: row;
}

.resume-header-info {
  width: 66%;
  display: inline-block;
  float: left;
}

.resume-profile-picture {
  display: inline-block;
  width: 33%;
  float: right;
}

.resume-section {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  clear: both;
}

.resume-section-header {
  width: 100%;
  font-size: 1.2em;
  margin-bottom: 1%;
  border-bottom: 2px solid #7FFFD4;
}
